service cloud.firestore {
  match /databases/{database}/documents {
    match /firebin/{binId} {
      allow create: if true;
      allow read: if true;
    }
  }
}
